# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 6c6f1a6fa63155eac076380a08840a2af195e1d7f71a1c4fd7d42ec45a1db27b3c0554f7410b338d7af6de6a3fa199e23d677571ba08359edb7e14596bdd9341

test:
  secret_key_base: ada09b4ea4bc8b7331e23cabf6333ba954d22dc7dc012a43921f63ffddba2fd392d12fd4c0e08b12970a82ad8476baa9cf0c7327b74bf3a40335ec76fbe143e5

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
